version: '3.8'
services:
  backend:
    build: ./krisys-backend
    volumes:
      - ./blockchain:/app/blockchain
      - ./krisys-backend:/app  # Hot reload for development
    ports:
      - "5000:5000"
    environment:
      - BLOCKCHAIN_DB_PATH=/app/blockchain.db
      - FLASK_DEBUG=1
      - FLASK_ENV=development
    command: python -m flask run --host=0.0.0.0 --port=5000 --reload

  frontend:
    build: ./krisys-frontend
    volumes:
      - ./krisys-frontend:/app
      - /app/node_modules
      - /app/.next
      - ./blockchain:/app/blockchain # DEV ONLY!!! for admin panel controls
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:5000
    # Development command with hot reload
    # command: npm start
    # For production, comment above and uncomment below:
    command: npm run dev
    depends_on:
      - backend
  station:
    build: 
      context: ./krisys-backend
      dockerfile: ./device-offline-server/Dockerfile
    ports:
      - "6001:5000"
    environment:
      - FLASK_ENV=development
    volumes:
      # DEV: local folder where station could store its own mesh DB/cache
      - ./krisys-backend/device-offline-server/station-data:/app/data
    # For now, no shared DB or blockchain; this is a separate process
    # representing a station device. We can add volumes / DB later.